@page "/List/{ListId:int}"
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using WebApp.Data.Services.TaskListDataProvider
@using WebApp.Data.Services.Users
@inject TaskListDataProvider TaskListDataProvider
@inject UsersDataProvider UsersDataProvider

<UiMessageDisplayer/>

<h1 class="text-center">
    List @(_taskList?.Name ?? "XXX")
</h1>
<a class="btn btn-primary" href="Lists"><span class="oi oi-media-skip-backward"></span> Return to lists</a>

@if (_taskList != null && !_isReadonly)
{
    <EditForm OnValidSubmit="@Add" Model="@_taskCreationEditModel" class="col-lg-4 mx-auto">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>@nameof(_taskCreationEditModel.Name)</label>
                <InputText @bind-Value="@_taskCreationEditModel.Name" class="form-control"/>
            </div>
            <div class="col-lg-6">
                <br/>
                <ValidationMessage For="@(() => _taskCreationEditModel.Name)"/>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary mx-auto" type="submit">Create a new task !</button>
        </div>
        <DataAnnotationsValidator/>
    </EditForm>
    @if (_allUsers == null)
    {
        <div>Could not load users list ...</div>
    }
    else
    {
        <EditForm OnValidSubmit="@AddSharee" Model="@_listSharingUpdateModel" class="col-lg-4 mx-auto">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>@nameof(_listSharingUpdateModel.IdOfShareeToAdd)</label>
                    <InputSelect @bind-Value="@_listSharingUpdateModel.IdOfShareeToAdd" class="form-control">
                        <option>Select a sharee to add</option>
                        @foreach (var user in _allUsers)
                        {
                            <option value="@user.Id">@user.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-lg-6">
                    <br/>
                    <ValidationMessage For="@(() => _listSharingUpdateModel.IdOfShareeToAdd)"/>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-primary mx-auto" type="submit">Add sharee !</button>
            </div>
            <DataAnnotationsValidator/>
        </EditForm>
    }
    @if (_taskList?.Sharees != null && _taskList.Sharees.Any())
    {
        <div>
            This list is already shared with the following users
            @foreach (var sharee in _taskList.Sharees)
            {
                <div>
                    @sharee.Name <span class="oi oi-delete" @onclick="@(async () => await RemoveSharee(sharee.Id))"></span>
                </div>
            }
        </div>
    }
    else
    {
        <div>This list is not currently shared with anyone</div>
    }
}

@if (_taskList?.Tasks != null && _taskList.Tasks.Any())
{
    <table class="table mt-4 col-lg-8 mx-auto">
        <tbody>
        @foreach (var task in _taskList.Tasks.OrderBy(t => t.IsClosed))
        {
            <tr>
                <td>
                    <a href="Task/@task.Id">
                        @if (task.IsClosed)
                        {
                            <del>@task.Name</del>
                            <span>(Closed)</span>
                        }
                        else
                        {
                            <text>@task.Name</text>
                        }
                    </a>
                </td>
                <td>
                    @{
                        var dueTimeSpan = task.DueDate.Subtract(DateTime.Now);
                        var dayTextValue = $"{dueTimeSpan:%d} day(s)";
                    }
                    @if (dueTimeSpan.Days == 0)
                    {
                        <span>due today</span>
                    }
                    else if (dueTimeSpan.Days > 0)
                    {
                        <span>due in @dayTextValue</span>
                    }
                    else
                    {
                        <span>due @dayTextValue ago</span>
                    }
                </td>
                @if (!_isReadonly)
                {
                    <td>
                        <span class="oi oi-delete" @onclick="@(async () => await Remove(task.Id))"></span>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public int ListId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private TaskListForUserModel _taskList;
    private async Task<ClaimsPrincipal> GetUser() => (await AuthenticationStateTask).User;

    private readonly TaskCreationEditModel _taskCreationEditModel = new TaskCreationEditModel();
    private List<ShareeModel> _allUsers = new List<ShareeModel>();
    private readonly ListSharingUpdateModel _listSharingUpdateModel = new ListSharingUpdateModel();

    private bool _isReadonly;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Add()
    {
        await TaskListDataProvider.Add(await GetUser(), ListId, _taskCreationEditModel.Name);
        await Refresh();
        _taskCreationEditModel.Name = null;
    }

    private async Task AddSharee()
    {
        await TaskListDataProvider.AddSharee(await GetUser(), ListId, _listSharingUpdateModel.IdOfShareeToAdd);
        await Refresh();
        _listSharingUpdateModel.IdOfShareeToAdd = null;
        await Refresh();
    }

    private async Task Remove(int idOfListToRemove)
    {
        await TaskListDataProvider.Remove(await GetUser(), ListId, idOfListToRemove);
        await Refresh();
    }

    private async Task RemoveSharee(string idOfShareeToRemove)
    {
        await TaskListDataProvider.RemoveSharee(await GetUser(), ListId, idOfShareeToRemove);
        await Refresh();
    }

    private async Task Refresh()
    {
        var user = await GetUser();
        if (user.Identity.IsAuthenticated)
        {
            var userOwnsThisList = await TaskListDataProvider.UserOwnsThisList(user, ListId);
            if (userOwnsThisList)
            {
                _taskList = await TaskListDataProvider.Get(user, ListId);
                _allUsers = await UsersDataProvider.GetAvailableShareesForList(user, ListId);
            }
            else
            {
                _isReadonly = true;
                _taskList = await TaskListDataProvider.GetAsSharee(user, ListId);
            }
        }
    }

    private class TaskCreationEditModel
    {
        [Required]
        public string Name { get; set; }
    }

    private class ListSharingUpdateModel
    {
        [Required]
        public string IdOfShareeToAdd { get; set; }
    }
}